.DS_Store

node_modules
dist
build
coverage
.cache
.parcel-cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.* 
!.env.example

.cursor
.cursor/**
.cursorrules
.cursorignore
.cursor-tmp
.cursor-tmp/**

*.code-workspace
